---
layout: default
title: Asset
---


<article class="pt40px center">
      <div class="ph2">
        {% include components/alerts.html %}
        <div class="db cf mb2">
          <h2 class="db q-purple-dark f2 fw7 ma0">Power Supply<a class="btn small db f6 fw4 link br2 ph2 pv0 black bg-white widget fr" href="#0">edit</a></h2>
        </div>
  			<span class="mb4 ttu f7 fw5 q-purple-dark db">Asset ID 190827</span>
        <div class="dt w-100 pb40px bb b--q-purple-fade mb4">
          <img src="../images/asset-details-image.jpg" class="asset-details-img db w3 h3 fl mr3" />
          <p class="w-100 w-50-m w-50-l pa0 ma0 db v-mid f6 q-purple-mid lh-copy">This is a description field to give a little more context to what this asset is and why it’s important to the operation.</p>
        </div>
      </div>


      <div class="cf">
      {% include components/camera-list.html %}
      </div>



</article>
