<div class="notification-widget widget bg-white pa3 pr0 br2 cam">
  <div class="notification-row db">
    <div class="dt mb1 cf w-100 pr3">
      <div class="db status status-anomaly bg-q-orange"></div>
      <p class="asset-name fl w-50 db pa0 ma0 fw6 f5" href="#">275&deg;</p>
      <p class="fr w50 asset-name db pa0 ma0 fw4 f7 q-purple-mid" href="#">11/19/2016,  12:55:00 PM</p>
    </div>
    <p class="f7 f6-m f6-l fw4 ma0 pa0 w-100 bb b--q-purple-fade pb3 mb3">Marked abnormal by <stong>Vamshi</strong>. <a class="q-pink">Change</a></p>
  </div>
  <div class="notification-row db">
    <div class="dt mb1 cf w-100 pr3">
      <div class="db status status-anomaly bg-q-orange"></div>
      <p class="asset-name fl w-50 db pa0 ma0 fw6 f5" href="#">275&deg;</p>
      <p class="fr w50 asset-name db pa0 ma0 fw4 f7 q-purple-mid" href="#">11/19/2016,  12:55:00 PM</p>
    </div>
    <p class="f7 f6-m f6-l fw4 ma0 pa0 w-100 bb b--q-purple-fade pb3 mb3">Marked abnormal by <stong>Vamshi</strong>. <a class="q-pink">Change</a></p>
  </div>
  <div class="notification-row db">
    <div class="dt mb1 cf w-100 pr3">
      <div class="db status status-anomaly bg-q-orange"></div>
      <p class="asset-name fl w-50 db pa0 ma0 fw6 f5" href="#">275&deg;</p>
      <p class="fr w50 asset-name db pa0 ma0 fw4 f7 q-purple-mid" href="#">11/19/2016,  12:55:00 PM</p>
    </div>
    <p class="f7 f6-m f6-l fw4 ma0 pa0 w-100 bb b--q-purple-fade pb3 mb3">Marked abnormal by <stong>Vamshi</strong>. <a class="q-pink">Change</a></p>
  </div>
  <div class="notification-row db">
    <div class="dt mb1 cf w-100 pr3">
      <div class="db status status-anomaly bg-q-orange"></div>
      <p class="asset-name fl w-50 db pa0 ma0 fw6 f5" href="#">275&deg;</p>
      <p class="fr w50 asset-name db pa0 ma0 fw4 f7 q-purple-mid" href="#">11/19/2016,  12:55:00 PM</p>
    </div>
    <p class="f7 f6-m f6-l fw4 ma0 pa0 w-100 bb b--q-purple-fade pb3 mb3">Marked abnormal by <stong>Vamshi</strong>. <a class="q-pink">Change</a></p>
  </div>
  <div class="notification-row db">
    <div class="dt mb1 cf w-100 pr3">
      <div class="db status status-anomaly bg-q-orange"></div>
      <p class="asset-name fl w-50 db pa0 ma0 fw6 f5" href="#">275&deg;</p>
      <p class="fr w50 asset-name db pa0 ma0 fw4 f7 q-purple-mid" href="#">11/19/2016,  12:55:00 PM</p>
    </div>
    <p class="f7 f6-m f6-l fw4 ma0 pa0 w-100 bb b--q-purple-fade pb3 mb3">Marked abnormal by <stong>Vamshi</strong>. <a class="q-pink">Change</a></p>
  </div>
  <div class="notification-row db">
    <div class="dt mb1 cf w-100 pr3">
      <div class="db status status-anomaly bg-q-orange"></div>
      <p class="asset-name fl w-50 db pa0 ma0 fw6 f5" href="#">275&deg;</p>
      <p class="fr w50 asset-name db pa0 ma0 fw4 f7 q-purple-mid" href="#">11/19/2016,  12:55:00 PM</p>
    </div>
    <p class="f7 f6-m f6-l fw4 ma0 pa0 w-100 bb b--q-purple-fade pb3 mb3">Marked abnormal by <stong>Vamshi</strong>. <a class="q-pink">Change</a></p>
  </div>
  <div class="notification-row db">
    <div class="dt mb1 cf w-100 pr3">
      <div class="db status status-anomaly bg-q-orange"></div>
      <p class="asset-name fl w-50 db pa0 ma0 fw6 f5" href="#">275&deg;</p>
      <p class="fr w50 asset-name db pa0 ma0 fw4 f7 q-purple-mid" href="#">11/19/2016,  12:55:00 PM</p>
    </div>
    <p class="f7 f6-m f6-l fw4 ma0 pa0 w-100 bb b--q-purple-fade pb3 mb3">Marked abnormal by <stong>Vamshi</strong>. <a class="q-pink">Change</a></p>
  </div>
  <div class="notification-row db">
    <div class="dt mb1 cf w-100 pr3">
      <div class="db status status-anomaly bg-q-orange"></div>
      <p class="asset-name fl w-50 db pa0 ma0 fw6 f5" href="#">275&deg;</p>
      <p class="fr w50 asset-name db pa0 ma0 fw4 f7 q-purple-mid" href="#">11/19/2016,  12:55:00 PM</p>
    </div>
    <p class="f7 f6-m f6-l fw4 ma0 pa0 w-100 bb b--q-purple-fade pb3 mb3">Marked abnormal by <stong>Vamshi</strong>. <a class="q-pink">Change</a></p>
  </div>
  <div class="notification-row db">
    <div class="dt mb1 cf w-100 pr3">
      <div class="db status status-anomaly bg-q-orange"></div>
      <p class="asset-name fl w-50 db pa0 ma0 fw6 f5" href="#">275&deg;</p>
      <p class="fr w50 asset-name db pa0 ma0 fw4 f7 q-purple-mid" href="#">11/19/2016,  12:55:00 PM</p>
    </div>
    <p class="f7 f6-m f6-l fw4 ma0 pa0 w-100 bb b--q-purple-fade pb3 mb3">Marked abnormal by <stong>Vamshi</strong>. <a class="q-pink">Change</a></p>
  </div>
  <div class="notification-row db">
    <div class="dt mb1 cf w-100 pr3">
      <div class="db status status-anomaly bg-q-orange"></div>
      <p class="asset-name fl w-50 db pa0 ma0 fw6 f5" href="#">275&deg;</p>
      <p class="fr w50 asset-name db pa0 ma0 fw4 f7 q-purple-mid" href="#">11/19/2016,  12:55:00 PM</p>
    </div>
    <p class="f7 f6-m f6-l fw4 ma0 pa0 w-100 bb b--q-purple-fade pb3 mb3">Marked abnormal by <stong>Vamshi</strong>. <a class="q-pink">Change</a></p>
  </div>
  <div class="notification-row db">
    <div class="dt mb1 cf w-100 pr3">
      <div class="db status status-anomaly bg-q-orange"></div>
      <p class="asset-name fl w-50 db pa0 ma0 fw6 f5" href="#">275&deg;</p>
      <p class="fr w50 asset-name db pa0 ma0 fw4 f7 q-purple-mid" href="#">11/19/2016,  12:55:00 PM</p>
    </div>
    <p class="f7 f6-m f6-l fw4 ma0 pa0 w-100">Marked abnormal by <stong>Vamshi</strong>. <a class="q-pink">Change</a></p>
  </div>




</div>
