<div class="notification-widget widget bg-q-purple-mid-dark p0 br2 mb4">

        <div class="notification-row db">
          <div class="dib status hotspot bg-q-orange">1</div>
          <p class="asset-name db pv3 ma0 fw6 f5 white bb b--white-10 pr4 v-mid">275&deg;<span class="fr fw1 f7 pt1">12:55:00 PM</span></p>
          <div class="pv3">
            <a class="br2 small bg-q-purple shadow-none f7 btn white dib mr3 w-40" href="#">Abnormal</a>
            <a class="br2 small f7 btn shadow-none ba white b--white dib mr3 w-40" href="#">Normal</a>
          </div>
        </div>

</div>
