<div class="modal-fade fixed top-0 left-0  ph3 mw6 a-center">
  <article class="center ph5 tc br2 pv5 bg-white modal">
    <h2 class="q-purple-dark f2 fw7 mb3 mt0 pt0">Are you sure?</h2>
    <p class="mt0 mb0 lh-copy q-purple-mid-dark w-100">All group properties will be removed and all assets will be distributed to the dashboard.</p>
    <div class="mt4">
      <a class="br2 bg-q-purple shadow-none f6 btn white dib mr3 w-40" href="#">Remove Group</a>
      <a class="br2 f6 btn shadow-none ba q-purple b--q-purple dib mr3 w-40" href="#">Cancel</a>
    </div>
  </article>
</div>
