<div class="modal-full modal-fade fixed top-0 left-0 ph4 w-100 mw7 a-center z-9999">
  <div class="cf">
    <a href="camera.html" class="fr db white f6 fw6 ph3 pv1 lh-copy b--white ba br-pill mb3"><span class="mr2">&#10005;</span>Close</a>
  </div>
  <article class="center tc br2 p0 bg-white modal overflow-hidden">
    <div class="pa3 relative">
      <div class="absolute absolute--fill play-overlay"></div>
      <img src="images/video.jpg" class="db w-100"/>
    </div>
    <div class="f7 ph3 pv2 bg-q-purple-light bt tl b--q-purple-fade">
      <p class="mr2 dib">Show timelapse from</p>
      <select class="" name="">
        <option value="">Last Week</option>
      </select>
    </div>

  </article>

</div>
